/* SkillGroup.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

.skill-group {
    margin-bottom: 10px;
  }
  
  .skill-group h4 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .skill-group ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .skill-group li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
  
  .skill-group li .skill-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .skill-group li .skill-button.beginner {
    background-color: #858AE3;
    color: #ECF9FE;
  }
  .skill-group li .skill-button.beginner:hover {
    background-color: #ECF9FE;
    border-color: #858AE3;
    color: #4E148C;
  }
  
  .skill-group li .skill-button.intermediate {
    background-color: #613DC1;
    color: #ECF9FE;
  }
  .skill-group li .skill-button.intermediate:hover {
    background-color: #613DC1;
    color: #ECF9FE;
  }
  
  .skill-group li .skill-button.expert {
    background-color: #4E148C;
    color: #ECF9FE;
  }